<!-- =========================
Feature v1 section
===========================-->
<section class="pb-[100px] pt-[100px] overflow-hidden">
  <div class="main-container">
    <div class="text-center space-y-3 mb-14">
      <h2 data-ns-animate data-delay="0.3" class="max-w-[742px] mx-auto">
        Everything you need to succeed. All in one platform.
      </h2>
      <p data-ns-animate data-delay="0.4" class="max-w-[482px] mx-auto">
        Soots gives you powerful, easy-to-use tools to help you grow, optimize, and scale your
        business—without the overwhelm.
      </p>
    </div>
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8">
      <div
        data-ns-animate
        data-delay="0.5"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Trusted by 20k+ Customers -->
          <img
            src="images/home-page-7/feature-asset-1.png"
            alt="Trusted by 20k+"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Tailored billing solutions</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Inventory oversight -->
          <img
            src="images/home-page-7/feature-asset-2.png"
            alt="Inventory oversight"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Inventory oversight</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Smartphone application -->
          <img
            src="images/home-page-7/feature-asset-3.png"
            alt="Smartphone application"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Smartphone application</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.8"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Structured expenses -->
          <img
            src="images/home-page-7/feature-asset-4.png"
            alt="Structured expenses"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Structured expenses</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.9"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Sort receipts -->
          <img
            src="images/home-page-7/feature-asset-5.png"
            alt="Sort receipts"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Sort receipts</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="1"
        class="col-span-12 md:col-span-6 lg:col-span-4 bg-background-2 dark:bg-background-5 space-y-6 p-6 rounded-[20px]"
      >
        <figure class="max-w-[360px] w-full">
          <!-- Analytics and reports -->
          <img
            src="images/home-page-7/feature-asset-6.png"
            alt="Analytics and reports"
            class="w-full h-full object-cover rounded-2xl"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Analytics and reports</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
    </div>
  </div>
</section>
