<!-- =========================
CTA section
===========================-->
<section class="bg-white dark:bg-background-6 py-16 2xl:py-28 {=$class}">
  <div class="main-container flex flex-col lg:flex-row gap-12 md:gap-7 lg:gap-12 justify-between">
    <div class="lg:w-[47%] xl:w-[55%]">
      <h2 class="mb-2 md:mb-3">
        Build a complete website using the
        <span class="text-primary-500 inline-block">assistance</span>
      </h2>
      <p>Start your free trial today and see your ideas come to life easily and creatively.</p>
    </div>

    <div class="fade-in lg:w-[53%] xl:w-[45%] lg:self-end pb-2">
      <form class="cta-form">
        <div class="flex max-md:flex-wrap max-md:justify-center items-center gap-3">
          <input
            id="cta-email"
            type="email"
            placeholder="Enter your email"
            autocomplete="email"
            class="bg-background-1 dark:bg-background-6 min-w-[90%] md:min-w-[67%] placeholder:text-secondary/40 dark:placeholder:text-white/40 text-secondary/60 dark:text-white/60 text-tagline-1 focus:outline-none font-normal border border-stroke-3 rounded-[360px] dark:bg-dark-200 dark:border-stroke-5 focus:border-primary-500 dark:focus:border-primary-500 px-[18px] py-3 duration-300 transition-all outline-none placeholder:font-normal"
          />
          <button type="submit" class="btn btn-md btn-primary max-md:w-[90%]">Get started</button>
        </div>
      </form>
      <ul
        class="cta-list flex max-lg:gap-2.5 md:items-center justify-between md:justify-start lg:gap-11 mt-6"
      >
        <li class="flex items-center gap-2">
          <span
            class="flex items-center justify-center size-5 bg-secondary dark:bg-accent rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M4.31661 7.25605L9.74905 1.92144C10.0836 1.5959 10.0836 1.0697 9.74905 0.744158C9.41446 0.418614 8.87363 0.418614 8.53904 0.744158L3.7116 5.49012L1.46096 3.28807C1.12636 2.96253 0.585538 2.96253 0.250945 3.28807C-0.0836483 3.61362 -0.0836483 4.13982 0.250945 4.46536L3.1066 7.25605C3.27347 7.41841 3.49253 7.5 3.7116 7.5C3.93067 7.5 4.14974 7.41841 4.31661 7.25605Z"
                class="dark:fill-secondary fill-accent"
              />
            </svg>
          </span>
          <p class="text-tagline-2 font-normal">No Credit Card Required</p>
        </li>
        <li class="flex items-center gap-2">
          <span
            class="flex items-center justify-center size-5 bg-secondary dark:bg-accent rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M4.31661 7.25605L9.74905 1.92144C10.0836 1.5959 10.0836 1.0697 9.74905 0.744158C9.41446 0.418614 8.87363 0.418614 8.53904 0.744158L3.7116 5.49012L1.46096 3.28807C1.12636 2.96253 0.585538 2.96253 0.250945 3.28807C-0.0836483 3.61362 -0.0836483 4.13982 0.250945 4.46536L3.1066 7.25605C3.27347 7.41841 3.49253 7.5 3.7116 7.5C3.93067 7.5 4.14974 7.41841 4.31661 7.25605Z"
                class="dark:fill-secondary fill-accent"
              />
            </svg>
          </span>
          <p class="text-tagline-2 font-normal">Free For 14 Day Trial.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
