<div class="mega-menu absolute top-[calc(100%+10px)] left-1/2 -translate-x-1/2 w-max max-w-[200px] bg-white dark:bg-background-7 rounded-2xl py-5 px-3 opacity-0 invisible transition-all duration-300 shadow-lg border border-stroke-2 dark:border-stroke-7 {=$class}">
  <ul class="space-y-1">
    <li>
      <a href="./lead-generation.html" class="flex items-center gap-3 px-4 py-2.5 rounded-lg text-tagline-1 font-normal text-secondary hover:bg-background-2 dark:text-accent dark:hover:bg-background-6 transition-all duration-200">
        Overview
      </a>
    </li>
    <li>
      <a href="./faq-page.html" class="flex items-center gap-3 px-4 py-2.5 rounded-lg text-tagline-1 font-normal text-secondary hover:bg-background-2 dark:text-accent dark:hover:bg-background-6 transition-all duration-200">
        FAQ
      </a>
    </li>
  </ul>
</div>
