<!-- =========================
Header v1
===========================-->
<header>
  <div
    class="header-one opacity-0 rounded-full lp:!max-w-[1290px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] min-[500px]:max-w-[450px] min-[425px]:max-w-[375px] max-w-[350px] mx-auto w-full fixed left-1/2 -translate-x-1/2 z-50 flex items-center justify-between px-2.5 xl:py-0 py-2.5 {=$class}"
    data-ns-animate
    data-direction="up"
    data-offset="100"
  >
    <div>
      <a href="/">
        <span class="sr-only">Home</span>
        <figure class="lg:max-w-[100px] lg:block hidden pl-4">
          <img src="./images/added/soots-logo-text-dark-small-retina.png" alt="Soots" class="dark:hidden" />
          <img src="./images/added/soots-logo-text-light-small-retina.png" alt="Soots" class="hidden dark:block" />
        </figure>
        <figure class="max-w-[44px] lg:hidden block">
          <img src="./images/added/soots-logo-dark-small-retina.png" alt="Soots" class="w-full dark:hidden block" />
          <img
            src="./images/added/soots-logo-light-small-retina.png"
            alt="Soots"
            class="w-full dark:block hidden"
          />
        </figure>
      </a>
    </div>
    <nav class="hidden xl:flex items-center">
      <ul class="flex items-center">
        <li class="py-2.5">
          <a href="/" class="flex items-center gap-1 px-4 py-2 border border-transparent hover:border-stroke-2 dark:hover:border-stroke-7 rounded-full text-tagline-1 font-normal text-secondary/60 hover:text-secondary transition-all duration-200 dark:text-accent/60 dark:hover:text-accent {=$nav-item-class}">
            Home
          </a>
        </li>
        <li class="py-2.5">
          <a href="/faq" class="flex items-center gap-1 px-4 py-2 border border-transparent hover:border-stroke-2 dark:hover:border-stroke-7 rounded-full text-tagline-1 font-normal text-secondary/60 hover:text-secondary transition-all duration-200 dark:text-accent/60 dark:hover:text-accent {=$nav-item-class}">
            FAQ
          </a>
        </li>
        <li class="py-2.5">
          <a href="/pricing" class="flex items-center gap-1 px-4 py-2 border border-transparent hover:border-stroke-2 dark:hover:border-stroke-7 rounded-full text-tagline-1 font-normal text-secondary/60 hover:text-secondary transition-all duration-200 dark:text-accent/60 dark:hover:text-accent {=$nav-item-class}">
            Pricing
          </a>
        </li>
        <li class="py-2.5">
          <a href="/contact" class="flex items-center gap-1 px-4 py-2 border border-transparent hover:border-stroke-2 dark:hover:border-stroke-7 rounded-full text-tagline-1 font-normal text-secondary/60 hover:text-secondary transition-all duration-200 dark:text-accent/60 dark:hover:text-accent {=$nav-item-class}">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <div class="xl:flex hidden items-center justify-center gap-3">
      <button
        id="theme-toggle"
        aria-label="Theme toggle button"
        class="size-10 bg-white dark:bg-transparent rounded-full cursor-pointer flex items-center justify-center hover:bg-gray-100 dark:hover:bg-background-5 transition-colors duration-200"
      >
        <span id="dark-theme-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 stroke-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
            />
          </svg>
        </span>
        <span id="light-theme-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            class="size-5 stroke-gray-800"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
            />
          </svg>
        </span>
      </button>
      <a href="/signup" class="btn btn-md {=$btn-class}">
        <span>Get started</span>
      </a>
    </div>
    <div class="xl:hidden block">
      <button
        class="nav-hamburger flex flex-col gap-[5px] size-12 bg-background-4 dark:bg-background-6 rounded-full items-center justify-center cursor-pointer"
      >
        <span class="sr-only">Menu</span>
        <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
        <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
        <span class="block w-6 h-0.5 bg-stroke-9 dark:bg-stroke-1"></span>
      </button>
    </div>
  </div>
  <Component src="src/components/shared/mobile-menu.htm" />
</header>
