<!-- =========================
Integration section
===========================-->
<section class="dark:bg-background-6 py-14 md:py-16 lg:py-[88px] xl:py-[100px]">
  <div
    class="w-[95%] 2xl:max-w-[1440px] mx-auto p-5 sm:p-10 2xl:px-[100px] 2xl:py-[100px] bg-secondary rounded-4xl relative overflow-hidden z-0 max-[426px]:rounded-2xl max-[426px]:w-[90%] max-[426px]:py-8 max-[426px]:px-5"
  >
    <div class="absolute inset-0 w-full h-full -z-10">
      <img
        src="images/home-page-2/integration-bg.png"
        alt="Integration background"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="max-w-[850px] mx-auto">
      <div class="flex flex-col items-center text-center gap-y-4 mb-[112px] max-[426px]:mb-10">
        <span
          data-ns-animate
          data-delay="0.1"
          class="badge badge-blur text-ns-yellow mb-5 max-[426px]:mb-3"
        >
          Integrations
        </span>
        <h2
          data-ns-animate
          data-delay="0.2"
          class="max-w-[750px] mx-auto text-accent max-[426px]:text-heading-6"
        >
          Connect with your favorite sales tools.
        </h2>
        <p
          data-ns-animate
          data-delay="0.3"
          class="max-w-[510px] text-accent max-[426px]:text-tagline-2"
        >
          Seamlessly integrate with popular CRMs, email tools, and lead databases 
          to streamline your sales workflow.
        </p>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-8 sm:gap-4 md:gap-8 mb-14 max-[426px]:mb-10 max-[426px]:gap-4"
      >
        <div data-ns-animate data-delay="0.4" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M33.1714 33.1825C29.8471 34.4334 26.1219 34.4357 22.7974 33.1832C21.5449 29.8624 21.5446 26.1379 22.7955 22.8167C26.1191 21.5636 29.848 21.5633 33.1716 22.8165C34.4237 26.1368 34.4232 29.8621 33.1714 33.1825ZM52.1594 23.9159H37.849L47.9674 13.8033C46.3794 11.5741 44.4189 9.61584 42.1883 8.0288L32.0692 18.1414V3.84026C29.3685 3.38623 26.5988 3.38693 23.8981 3.84026V18.1414L13.779 8.0288C11.5489 9.61476 9.58785 11.5757 7.99975 13.8033L18.1196 23.9159H3.80945C3.45622 26.6958 3.34145 29.3083 3.80945 32.0824H18.1198L7.99995 42.195C9.59188 44.4276 11.545 46.3794 13.779 47.9703L23.8981 37.857V52.1588C26.5991 52.6112 29.368 52.6114 32.069 52.1588V37.857L42.1891 47.9703C44.4207 46.3817 46.3777 44.4251 47.9674 42.195L37.8475 32.0824H52.1594C52.6135 29.3858 52.6135 26.6125 52.1594 23.9159Z"
                    fill="#00A2ED"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">Salesforce</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">CRM Platform</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>

        <div data-ns-animate data-delay="0.5" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M28 8C36.8366 8 44 15.1634 44 24C44 32.8366 36.8366 40 28 40C19.1634 40 12 32.8366 12 24C12 15.1634 19.1634 8 28 8ZM28 12C21.3726 12 16 17.3726 16 24C16 30.6274 21.3726 36 28 36C34.6274 36 40 30.6274 40 24C40 17.3726 34.6274 12 28 12ZM28 16C24.6863 16 22 18.6863 22 22C22 25.3137 24.6863 28 28 28C31.3137 28 34 25.3137 34 22C34 18.6863 31.3137 16 28 16Z"
                    fill="#FF7A59"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">HubSpot</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">Marketing Hub</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>

        <div data-ns-animate data-delay="0.5" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M28 8C36.8366 8 44 15.1634 44 24C44 32.8366 36.8366 40 28 40C19.1634 40 12 32.8366 12 24C12 15.1634 19.1634 8 28 8ZM28 12C21.3726 12 16 17.3726 16 24C16 30.6274 21.3726 36 28 36C34.6274 36 40 30.6274 40 24C40 17.3726 34.6274 12 28 12ZM28 16C24.6863 16 22 18.6863 22 22C22 25.3137 24.6863 28 28 28C31.3137 28 34 25.3137 34 22C34 18.6863 31.3137 16 28 16Z"
                    fill="#1A73E8"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">Gmail</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">Email Platform</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>

        <div data-ns-animate data-delay="0.6" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M28 8C36.8366 8 44 15.1634 44 24C44 32.8366 36.8366 40 28 40C19.1634 40 12 32.8366 12 24C12 15.1634 19.1634 8 28 8ZM28 12C21.3726 12 16 17.3726 16 24C16 30.6274 21.3726 36 28 36C34.6274 36 40 30.6274 40 24C40 17.3726 34.6274 12 28 12ZM28 16C24.6863 16 22 18.6863 22 22C22 25.3137 24.6863 28 28 28C31.3137 28 34 25.3137 34 22C34 18.6863 31.3137 16 28 16Z"
                    fill="#0077B5"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">LinkedIn</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">Professional Network</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>

        <div data-ns-animate data-delay="0.6" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M28 8C36.8366 8 44 15.1634 44 24C44 32.8366 36.8366 40 28 40C19.1634 40 12 32.8366 12 24C12 15.1634 19.1634 8 28 8ZM28 12C21.3726 12 16 17.3726 16 24C16 30.6274 21.3726 36 28 36C34.6274 36 40 30.6274 40 24C40 17.3726 34.6274 12 28 12ZM28 16C24.6863 16 22 18.6863 22 22C22 25.3137 24.6863 28 28 28C31.3137 28 34 25.3137 34 22C34 18.6863 31.3137 16 28 16Z"
                    fill="#FF6B35"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">Apollo</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">Lead Database</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>

        <div data-ns-animate data-delay="0.6" class="group">
          <a
            href="./integration-page-01.html"
            class="flex justify-between rounded-[20px] bg-white/14 p-4 md:p-4 lg:p-8 group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out max-[426px]:rounded-xl max-[426px]:p-3.5"
          >
            <div class="flex items-center gap-4">
              <div
                class="grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-14 max-[426px]:size-10"
                  viewBox="0 0 56 56"
                  fill="none"
                >
                  <rect width="56" height="56" rx="8" fill="white" />
                  <path
                    d="M28 8C36.8366 8 44 15.1634 44 24C44 32.8366 36.8366 40 28 40C19.1634 40 12 32.8366 12 24C12 15.1634 19.1634 8 28 8ZM28 12C21.3726 12 16 17.3726 16 24C16 30.6274 21.3726 36 28 36C34.6274 36 40 30.6274 40 24C40 17.3726 34.6274 12 28 12ZM28 16C24.6863 16 22 18.6863 22 22C22 25.3137 24.6863 28 28 28C31.3137 28 34 25.3137 34 22C34 18.6863 31.3137 16 28 16Z"
                    fill="#00D4AA"
                  />
                </svg>
              </div>
              <div class="transform transition-transform duration-500 group-hover:translate-x-1.5">
                <h5 class="text-accent max-[426px]:text-heading-6">ZoomInfo</h5>
                <p class="text-accent/60 max-[426px]:text-tagline-2">B2B Database</p>
              </div>
            </div>
            <div
              class="size-14 max-[426px]:size-12 relative overflow-hidden rounded-full flex items-center justify-center bg-ns-green group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.5 5.25L20.25 12L13.5 18.75"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div data-ns-animate data-delay="0.7" class="text-center">
        <a
          href="./integration-page-01.html"
          class="btn btn-xl btn-white dark:btn-transparent hover:btn-white-dark dark:hover:btn-white max-[526px]:btn-md max-[526px]:w-full"
        >
          <span>See All Integrations</span>
        </a>
      </div>
    </div>
  </div>
</section>
