<!-- =========================
Services v2 section
===========================-->
<section class="lg:py-[150px] md:py-[100px] py-[80px] bg-white dark:bg-black">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <h2 data-ns-animate data-delay="0.1">Powerful tools for next-gen finance</h2>
      <p data-ns-animate data-delay="0.2">
        Everything you need to manage, grow, and protect your digital assets—on your terms
      </p>
    </div>
    <div class="grid grid-cols-12 xl:gap-8 md:gap-6 gap-y-8">
      <div data-ns-animate data-delay="0.3" class="col-span-12 xl:col-span-8">
        <div
          class="sm:p-8 p-6 rounded-[20px] bg-background-2 dark:bg-background-5 sm:space-y-6 space-y-4 md:min-h-[408px]"
        >
          <div class="space-y-1 text-center md:text-left">
            <h3 class="lg:text-heading-5 sm:text-heading-6 text-tagline-1">
              Decentralized asset management
            </h3>
            <p>Invest, swap, stake, and track—all without giving up control of your funds.</p>
          </div>
          <div class="bg-white dark:bg-background-6 p-4 rounded-2xl md:min-h-[226px]">
            <figure
              class="bg-background-2 dark:bg-background-6 rounded-xl overflow-hidden md:p-12 p-8 flex items-center justify-center"
            >
              <img
                src="images/home-page-35/service-1.png"
                alt="hexa-play"
                class="w-full h-full object-cover dark:hidden"
              />
              <img
                src="images/home-page-35/service-1-dark.png"
                alt="hexa-play"
                class="w-full h-full object-cover hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 xl:col-span-4 md:col-span-6">
        <div
          class="sm:p-8 p-6 rounded-[20px] bg-background-2 dark:bg-background-5 sm:space-y-6 space-y-4 md:min-h-[408px]"
        >
          <div class="space-y-1 text-center md:text-left">
            <h3 class="lg:text-heading-5 sm:text-heading-6 text-tagline-1">
              Customizable smart wallets
            </h3>
            <p class="md:max-w-[272px]">
              Multi-signature. hardware compatible. fully self-custodied.
            </p>
          </div>
          <div>
            <figure class="rounded-2xl overflow-hidden h-[234px] bg-white dark:bg-background-6">
              <img
                src="images/home-page-35/service-2.png"
                alt="hexa-play"
                class="w-full h-full object-cover dark:hidden"
              />
              <img
                src="images/home-page-35/service-2-dark.png"
                alt="hexa-play"
                class="w-full h-full object-cover hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 xl:col-span-4 md:col-span-6">
        <div
          class="sm:p-8 p-6 rounded-[20px] bg-background-2 dark:bg-background-5 sm:space-y-6 space-y-4 md:min-h-[408px]"
        >
          <div class="space-y-1 text-center md:text-left">
            <h3 class="lg:text-heading-5 sm:text-heading-6 text-tagline-1">
              On-chain yield opportunities
            </h3>
            <p>Access staking, lending, and liquidity farming from a single dashboard.</p>
          </div>
          <div>
            <figure
              class="rounded-2xl overflow-hidden max-h-[234px] max-w-full max-sm:relative max-sm:left-[9%]"
            >
              <img
                src="images/home-page-35/service-3.png"
                alt="hexa-play"
                class="object-cover h-full w-full dark:hidden"
              />
              <img
                src="images/home-page-35/service-3-dark.png"
                alt="hexa-play"
                class="object-cover h-full w-full hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 xl:col-span-8">
        <div
          class="sm:p-8 p-6 rounded-[20px] bg-background-2 dark:bg-background-5 sm:space-y-6 space-y-4 md:min-h-[408px]"
        >
          <div class="space-y-1 text-center md:text-left">
            <h3 class="lg:text-heading-5 sm:text-heading-6 text-tagline-1">
              Customizable smart wallets
            </h3>
            <p class="max-w-[272px]">Multi-signature. hardware compatible. fully self-custodied.</p>
          </div>
          <div>
            <figure class="rounded-2xl overflow-hidden h-[234px] bg-white dark:bg-background-6">
              <img
                src="images/home-page-35/service-4.png"
                alt="hexa-play"
                class="w-full h-full object-cover dark:hidden"
              />
              <img
                src="images/home-page-35/service-4-dark.png"
                alt="hexa-play"
                class="w-full h-full object-cover hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.7" class="col-span-12 xl:col-span-12">
        <div
          class="sm:p-8 p-6 rounded-[20px] bg-background-2 dark:bg-background-5 sm:space-y-6 space-y-4 md:min-h-[408px]"
        >
          <div class="space-y-1 text-center md:text-left">
            <h3 class="lg:text-heading-5 sm:text-heading-6 text-tagline-1">End-to-end security</h3>
            <p class="max-w-[311px]">
              Military-grade encryption + blockchain-level immutability = unmatched safety.
            </p>
          </div>
          <div>
            <figure class="rounded-2xl overflow-hidden h-[234px]">
              <img
                src="images/home-page-35/service-5.png"
                alt="hexa-play"
                class="object-cover w-full h-full dark:hidden"
              />
              <img
                src="images/home-page-35/service-5-dark.png"
                alt="hexa-play"
                class="object-cover w-full h-full hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
