<!-- =========================
CTA section
===========================-->
<section class="xl:py-28 py-14 bg-white dark:bg-background-6 {=$class}">
  <div class="main-container">
    <div class="flex flex-col xl:flex-row xl:items-center items-center gap-y-12 justify-between">
      <div class="flex-1">
        <div class="space-y-5 xl:text-left text-center">
          <span class="badge {=$badge-class}">Get started</span>
          <div class="space-y-3">
            <h2
              class="md:max-w-[649px] max-w-[300px] xl:text-heading-2 text-heading-5 md:mx-0 mx-auto"
            >
              Build a complete website using the assistance
            </h2>
            <p class="max-md:max-w-[380px] md:max-w-full">
              Start your free trial today and see your ideas come to life easily and creatively.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="sm:max-w-[462px] max-w-full xl:ml-auto mx-auto xl:mx-0 w-full space-y-6">
          <form class="flex flex-col sm:flex-row items-center gap-3 cta-form">
            <input
              aria-label="email"
              type="email"
              placeholder="Enter your email"
              class="flex-1 sm:w-auto w-full bg-accent border border-stroke-3 dark:border-stroke-7 dark:bg-background-7 px-5 py-3 rounded-full placeholder:font-normal font-normal min-h-12 h-12 placeholder:text-black/50 placeholder:text-tagline-1 focus:outline-none focus:ring-[0.7px] focus-within:ring-primary-500 text-secondary/60 dark:text-accent dark:placeholder:text-accent/60"
            />
            <button type="submit" class="btn btn-primary btn-md h-12 sm:w-auto w-full">
              Subscribe
            </button>
          </form>
          <ul class="flex items-center md:gap-12 gap-6 cta-list">
            <li class="flex items-center gap-2">
              <span
                class="size-5 shrink-0 rounded-full bg-secondary dark:bg-accent flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <span class="text-secondary/60 dark:text-accent font-normal text-tagline-2"
                >No credit card required</span
              >
            </li>
            <li class="flex items-center gap-2">
              <span
                class="size-5 shrink-0 rounded-full bg-secondary dark:bg-accent flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <span class="text-secondary/60 dark:text-accent font-normal text-tagline-2"
                >14-Day free trial</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
